@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Tourney:ital@1&display=swap");
/*font-family: 'Tourney', "cursive";*/
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");
/*font-family: 'Black Ops One', "cursive";*/
@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
/*font-family: 'Bungee', "cursive";*/
/*Reset------------------------------------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

.main-escuela, .main-tripulante, .main-contacto {
  padding: 0 10%;
  font-family: "Roboto", "sans-serif";
  line-height: 1.7;
}

/*Reset------------------------------------------------------------------------------------------*/
/*Colors*/
/*Fonts*/
/*Operators*/
.article-piloto-cpl-two, .article-piloto-ppl-two, .article-tripulante-two, .article-escuela-four .escuela-four-container, .article-escuela-three section, .article-escuela-two section, .article-index-two section div div, .article-index-two, .article-index-one section {
  display: flex;
  justify-content: center;
}

/*Nav-------------------------------------------------------------------------------------------------*/
header {
  width: 100%;
  overflow: hidden;
  height: 577px;
  position: relative;
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  header {
    /*Tablet*/
    height: 400px;
  }
}
@media only screen and (max-width: 426px) {
  header {
    /*Mobile*/
    height: 400px;
  }
}
header nav {
  top: -20px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 20px auto;
  width: 80%;
  position: fixed;
  z-index: 5000;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  header nav {
    /*Desktop*/
    width: 100%;
    position: absolute;
  }
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  header nav {
    /*Tablet*/
    display: none;
  }
}
@media only screen and (max-width: 426px) {
  header nav {
    /*Mobile*/
    display: none;
  }
}
header nav ul {
  list-style: none;
  display: table;
  width: 100%;
  background-color: #2c2c2c;
  position: relative;
  padding-left: 0;
}
header nav ul li {
  display: table-cell;
}
@media only screen and (max-width: 426px) {
  header nav ul li {
    /*Mobile*/
    display: list-item;
  }
}
header nav ul li:hover ul {
  display: block;
  height: 100%;
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  header nav ul li:hover ul {
    /*Tablet*/
    display: none;
  }
}
@media only screen and (max-width: 426px) {
  header nav ul li:hover ul {
    /*Mobile*/
    display: none;
  }
}
header nav ul li a {
  color: #fff;
  display: block;
  line-height: 20px;
  padding: 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  header nav ul li a {
    /*Tablet*/
    font-size: 0.9rem;
    padding: 10px;
  }
}
@media only screen and (max-width: 426px) {
  header nav ul li a {
    /*Mobile*/
    font-size: 0.8rem;
    padding: 5px;
  }
}
header nav ul li a:hover {
  color: #ffffff;
}
header nav ul li a:hover span {
  top: 0;
}
header nav ul li a .bg-menu1 {
  background-image: linear-gradient(to right, #dd0000, #ffa500);
}
header nav ul li a .bg-menu2 {
  background-image: linear-gradient(to right, #ffa500, #ffd900);
}
header nav ul li a .bg-menu3 {
  background-image: linear-gradient(to right, #ffd900, #00ad00);
}
header nav ul li a .bg-menu4 {
  background-image: linear-gradient(to right, #00ad00, #0000ff);
}
header nav ul li a .bg-menu5 {
  background-image: linear-gradient(to right, #0000ff, #7a007a);
}
header nav ul li a span {
  background-color: #174459;
  color: #ffffff;
  display: block;
  height: 100%;
  width: 100%;
  left: 0;
  position: absolute;
  top: -55px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  header nav ul li a span {
    /*Tablet*/
    display: none;
  }
}
@media only screen and (max-width: 426px) {
  header nav ul li a span {
    /*Mobile*/
    display: none;
  }
}
header nav ul li a span .icon-header {
  display: block;
  line-height: 60px;
}
header nav ul li ul {
  list-style: none;
  display: block;
  position: absolute;
  background-color: #2c2c2c;
  overflow: hidden;
  width: auto;
  height: 0%;
  padding-left: 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
header nav ul li ul li a:hover {
  background-color: #3d3d3d;
}

/*Nav-------------------------------------------------------------------------------------------------*/
.header-escuela .navbar-light .navbar-toggler {
  background-color: #ee5300;
  margin-bottom: 5px;
}

.header-tripulante .navbar-light .navbar-toggler {
  background-color: #ffbf00;
  margin-bottom: 5px;
}

.header-index .navbar-light .navbar-toggler {
  background-color: #7fc300;
  margin-bottom: 5px;
}

.header-piloto .navbar-light .navbar-toggler {
  background-color: #005780;
  margin-bottom: 5px;
}

.header-contacto .navbar-light .navbar-toggler {
  background-color: #3e01bd;
  margin-bottom: 5px;
}

/*bg-color del menú hamburguesa*/
.navbar {
  display: none;
  background-color: #3d3d3d;
}
.navbar .navbar-brand {
  padding-top: 0;
}
.navbar .navbar-brand img {
  width: auto;
  height: 40px;
}
.navbar .navBar-bg-escuela {
  background-image: linear-gradient(to right, #dd0000, #ffa500);
}
.navbar .navBar-bg-escuela .nav-item {
  color: #000000;
}
.navbar .navBar-bg-escuela .nav-item .nav-link {
  color: #000000;
}
.navbar .navBar-bg-tripulante {
  background-image: linear-gradient(to right, #ffa500, #ffd900);
}
.navbar .navBar-bg-tripulante .nav-item {
  color: #000000;
}
.navbar .navBar-bg-tripulante .nav-item .nav-link {
  color: #000000;
}
.navbar .navBar-bg-index {
  background-image: linear-gradient(to right, #ffd900, #00ad00);
}
.navbar .navBar-bg-index .nav-item {
  color: #000000;
}
.navbar .navBar-bg-index .nav-item .nav-link {
  color: #000000;
}
.navbar .navBar-bg-piloto {
  background-image: linear-gradient(to right, #00ad00, #0000ff);
}
.navbar .navBar-bg-piloto .nav-item {
  color: #ffffff;
}
.navbar .navBar-bg-piloto .nav-item .nav-link {
  color: #ffffff;
}
.navbar .navBar-bg-contacto {
  background-image: linear-gradient(to right, #0000ff, #7a007a);
}
.navbar .navBar-bg-contacto .nav-item {
  color: #ffffff;
}
.navbar .navBar-bg-contacto .nav-item .nav-link {
  color: #ffffff;
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .navbar {
    display: flex;
    width: auto;
    margin: 20px auto 0;
  }
}
@media only screen and (max-width: 426px) {
  .navbar {
    display: flex;
    width: auto;
    margin: 20px auto 0;
  }
}

/*Social Menú--------------------------------------------------------------------------*/
.socialMenu {
  position: fixed;
  left: 0;
  top: 220px;
  z-index: 2000;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .socialMenu {
    top: 90px;
  }
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .socialMenu {
    /*Tablet*/
    display: none;
  }
}
@media only screen and (max-width: 426px) {
  .socialMenu {
    /*Mobile*/
    display: none;
  }
}
.socialMenu ul {
  list-style: none;
  padding-left: 0;
}
.socialMenu ul li a {
  display: inline-block;
  color: #ffffff;
  padding: 15px 15px;
  text-decoration: none;
  transition: all 500ms ease;
}
.socialMenu ul li a:hover {
  padding: 10px 30px;
}
.socialMenu ul li .icon-whatsapp {
  background-color: #3ae058;
}
.socialMenu ul li .icon-facebook2 {
  background-color: #1877f2;
}
.socialMenu ul li .icon-instagram {
  background-image: linear-gradient(to right top, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}
.socialMenu ul li .icon-linkedin {
  background-color: #0a66c2;
}
.socialMenu ul li .icon-github {
  background-color: #4c0098;
}
.socialMenu ul li .icon-mail2 {
  background-color: #666666;
}

/*Social Menú--------------------------------------------------------------------------*/
/*Landing Page---------------------------------------------------------------------------*/
.button-landingPage {
  display: none;
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .button-landingPage {
    display: block;
    position: fixed;
    bottom: 50px;
    right: 5px;
    padding: 8px 12px;
    border-radius: 30%;
    font-family: none;
    line-height: normal;
  }
  .button-landingPage .black-button {
    color: #000000;
  }
  .button-landingPage .white-button {
    color: #ffffff;
  }
  .button-landingPage a {
    text-decoration: none;
    font-size: 25px;
  }
}
@media only screen and (max-width: 426px) {
  .button-landingPage {
    display: block;
    position: fixed;
    bottom: 60px;
    right: 5px;
    padding: 8px 12px;
    border-radius: 30%;
    font-family: none;
    line-height: normal;
  }
  .button-landingPage .black-button {
    color: #000000;
  }
  .button-landingPage .white-button {
    color: #ffffff;
  }
  .button-landingPage a {
    text-decoration: none;
    font-size: 25px;
  }
}

.escuela {
  background-image: linear-gradient(to right, #dd0000, #ffa500);
}

.tripulante {
  background-image: linear-gradient(to right, #ffa500, #ffd900);
}

.index {
  background-image: linear-gradient(to right, #ffd900, #00ad00);
}

.piloto {
  color: white;
  background-image: linear-gradient(to right, #00ad00, #0000ff);
}

.contacto {
  background-image: linear-gradient(to right, #0000ff, #7a007a);
}

/*Landing Page---------------------------------------------------------------------------*/
/*Footer--------------------------------------------------------------------------------------------------------*/
footer {
  background-color: #d4d4d8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 1%;
  padding-left: 2%;
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  footer {
    justify-content: center;
    flex-wrap: wrap-reverse;
  }
}
@media only screen and (max-width: 426px) {
  footer {
    justify-content: center;
    flex-wrap: wrap-reverse;
  }
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  footer section {
    text-align: center;
  }
}
@media only screen and (max-width: 426px) {
  footer section {
    text-align: center;
  }
}
footer section p {
  margin-bottom: 0;
}
footer ul {
  margin-bottom: 0;
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  footer ul {
    padding: 0 27px;
    margin: 3% 0;
  }
}
@media only screen and (max-width: 426px) {
  footer ul {
    padding-left: 0;
    margin: 3% 0;
  }
}
footer ul li {
  list-style: none;
}
footer ul li a {
  margin-left: 10px;
  text-decoration: none;
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  footer ul li a {
    margin-left: 25px;
  }
}
@media only screen and (max-width: 426px) {
  footer ul li a {
    margin-left: 15px;
  }
}
footer ul li a img {
  height: 25px;
  width: auto;
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}
footer ul li a img:hover {
  transform: scale(1.6);
  transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  footer ul li a img {
    height: 35px;
  }
}
@media only screen and (max-width: 426px) {
  footer ul li a img {
    height: 35px;
  }
}

/*Footer--------------------------------------------------------------------------------------------------------*/
/*Index-------------------------------------------------------------------------------------------------------------*/
.header-index {
  background-color: #505050;
  background-image: url("../image/header/index.png");
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: soft-light;
  border-bottom: solid 10px transparent;
  border-image: linear-gradient(to right, #ffd900, #00ad00);
  border-image-slice: 1;
  box-shadow: 0 15px 25px #00000033;
}
@media only screen and (max-width: 425px) {
  .header-index {
    background-attachment: unset;
  }
}
.header-index section {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .header-index section {
    justify-content: space-evenly;
  }
}
.header-index section h1 {
  margin: 5% 0;
  color: #e0e0e0;
  font-family: "Tourney", "cursive";
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .header-index section h1 {
    /*Tablet*/
    margin: 0;
  }
}
@media only screen and (max-width: 426px) {
  .header-index section h1 {
    /*Mobile*/
    margin: 0;
    font-size: 2rem;
  }
}
.header-index section h1 img {
  height: 2rem;
  width: auto;
}
@media only screen and (max-width: 426px) {
  .header-index section div {
    /*Mobile*/
    display: none;
  }
}
.header-index section div h2 {
  text-align: center;
  padding: 5%;
  color: #e0e0e0;
  font-family: "Black Ops One", "cursive";
}
.header-index section div h3 {
  color: #e0e0e0;
  font-family: "Black Ops One", "cursive";
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .header-index section div h3 {
    /*Tablet*/
    font-size: 1rem;
  }
}

.main-index {
  border-bottom: solid 5px transparent;
  border-image: linear-gradient(to right, #ffd900, #00ad00);
  border-image-slice: 1;
}

.article-index-one section h2 {
  padding: 3% 2% 1% 2%;
  font-family: "Bungee", "cursive";
}
@media only screen and (max-width: 426px) {
  .article-index-one section h2 {
    padding: 0;
  }
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .article-index-one section {
    /*Desktop*/
    justify-content: space-around;
  }
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .article-index-one section {
    /*Tablet*/
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 426px) {
  .article-index-one section {
    /*Mobile*/
    flex-wrap: wrap;
  }
}
.article-index-one section div {
  margin: 1%;
  font-family: none;
}
.article-index-one section div div {
  border: solid 3px #d4d4d8;
  border-radius: 25%;
}
.article-index-one section div div:hover {
  background-image: linear-gradient(to right, #ffd900, #00ad00);
}
.article-index-one section div p {
  text-align: center;
}

.article-index-two {
  background-image: url("../image/main-index/index-plane.png");
  background-size: cover;
  background-color: #ffffff75;
  background-blend-mode: soft-light;
}
.article-index-two section {
  width: 70%;
}
.article-index-two section div div {
  padding: 3%;
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .article-index-two section div div {
    /*Tablet*/
    flex-wrap: wrap;
  }
}
.article-index-two section div div img {
  margin-right: 10%;
  margin-bottom: 5%;
  width: auto;
  height: auto;
}
.article-index-two section div div p {
  margin-top: 10%;
  margin-bottom: 0;
}
.article-index-two section div div h3 {
  font-family: "Bungee", "cursive";
}

.article-index-three {
  background-color: #747474;
  padding: 1% 1% 1% 2%;
}
.article-index-three section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.article-index-three section div h3 {
  color: #ffffff;
  font-family: "Bungee", "cursive";
  font-size: 1.3rem;
  margin-bottom: 0;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .article-index-three section div h3 {
    /*Desktop*/
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .article-index-three section div h3 {
    /*Tablet*/
    font-size: 0.6rem;
  }
}
@media only screen and (max-width: 426px) {
  .article-index-three section div h3 {
    /*Mobile*/
    font-size: 0.6rem;
  }
}
.article-index-three section .button-article-three {
  background-color: #181818;
  border-radius: 10%;
  padding: 8px;
}
.article-index-three section .button-article-three:hover {
  background-image: linear-gradient(to right, #ffd900, #00ad00);
}
.article-index-three section .button-article-three a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .article-index-three section .button-article-three a {
    /*Tablet*/
    font-size: 15px;
  }
}
@media only screen and (max-width: 426px) {
  .article-index-three section .button-article-three a {
    font-size: 15px;
  }
}

/*Index-------------------------------------------------------------------------------------------------------------*/
/*Escuela--------------------------------------------------------------------*/
.header-escuela {
  background-color: #505050;
  background-blend-mode: soft-light;
  background-image: url("../image/header/escuela.png");
  background-size: cover;
  background-attachment: fixed;
  border-bottom: solid 10px transparent;
  border-image: linear-gradient(to right, #dd0000, #ffa500);
  border-image-slice: 1;
  box-shadow: 0 15px 25px #00000033;
}
@media only screen and (max-width: 425px) {
  .header-escuela {
    background-attachment: unset;
  }
}
.header-escuela section {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 13%;
  color: #e0e0e0;
  font-family: "Black Ops One", "cursive";
}

.main-escuela {
  background-image: linear-gradient(to bottom, #ffffff, #e1e1e1, #c4c4c4);
  border-bottom: solid 5px transparent;
  border-image: linear-gradient(to right, #dd0000, #ffa500);
  border-image-slice: 1;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .main-escuela {
    /*Desktop*/
    padding: 0;
    padding-left: 5%;
  }
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .main-escuela {
    /*Tablet*/
    padding: 0;
  }
}
@media only screen and (max-width: 426px) {
  .main-escuela {
    /*Mobile*/
    padding: 0;
  }
}

.article-escuela-one {
  padding: 3% 0 2%;
}
.article-escuela-one .card {
  background-image: linear-gradient(to right, #dd0000, #ffa500);
}
.article-escuela-one .escuela-one-text {
  text-align: center;
  font-size: 1.5rem;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .article-escuela-one .escuela-one-text {
    padding-left: 1%;
  }
}
@media only screen and (max-width: 426px) {
  .article-escuela-one .escuela-one-text {
    /*Mobile*/
    text-align: start;
    padding-left: 1%;
  }
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .article-escuela-one .row {
    /*Tablet*/
    flex-direction: column;
  }
  .article-escuela-one .row .col-6 {
    width: auto;
  }
}
@media only screen and (max-width: 426px) {
  .article-escuela-one .row {
    /*Mobile*/
    flex-direction: column;
  }
  .article-escuela-one .row .col-6 {
    width: auto;
  }
}

.article-escuela-two {
  padding: 2% 7% 4%;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .article-escuela-two {
    /*Desktop*/
    padding: 0 1% 0 2%;
  }
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .article-escuela-two {
    /*Tablet*/
    padding: 0;
  }
}
@media only screen and (max-width: 426px) {
  .article-escuela-two {
    /*Mobile*/
    padding: 0;
  }
}
.article-escuela-two h2 {
  margin-bottom: 2%;
  margin-top: 5%;
  text-align: center;
  font-family: "Bungee", "cursive";
}
.article-escuela-three {
  padding: 2% 7% 4%;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .article-escuela-three {
    /*Desktop*/
    padding: 0 1% 0 2%;
  }
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .article-escuela-three {
    /*Tablet*/
    padding: 0;
  }
}
@media only screen and (max-width: 426px) {
  .article-escuela-three {
    /*Mobile*/
    padding: 0;
  }
}
.article-escuela-three h2 {
  margin-bottom: 2%;
  margin-top: 5%;
  text-align: center;
  font-family: "Bungee", "cursive";
}
.article-escuela-four {
  padding: 1% 0;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .article-escuela-four {
    /*Desktop*/
    padding: 1% 2%;
  }
}
.article-escuela-four .escuela-four-title {
  text-align: center;
}
.article-escuela-four .escuela-four-title div h2 {
  font-family: "Bungee", "cursive";
  margin-top: 5%;
}
.article-escuela-four .escuela-four-title div p {
  font-size: 1.2rem;
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .article-escuela-four .special {
    /*Tablet*/
    flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 426px) {
  .article-escuela-four .special {
    /*Mobile*/
    flex-direction: column-reverse;
  }
}
.article-escuela-four .escuela-four-container {
  padding: 1.5% 0;
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .article-escuela-four .escuela-four-container {
    /*Tablet*/
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 426px) {
  .article-escuela-four .escuela-four-container {
    /*Mobile*/
    flex-wrap: wrap;
  }
}
.article-escuela-four .escuela-four-container img {
  width: 550px;
  height: 400px;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .article-escuela-four .escuela-four-container img {
    /*Desktop*/
    width: 350px;
    height: 300px;
  }
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .article-escuela-four .escuela-four-container img {
    /*Tablet*/
    width: 100%;
    height: 300px;
  }
}
@media only screen and (max-width: 426px) {
  .article-escuela-four .escuela-four-container img {
    /*Mobile*/
    width: 100%;
    height: 250px;
  }
}
.article-escuela-four .escuela-four-container .escuela-four-contents {
  margin: 1%;
}
.article-escuela-four .escuela-four-container .escuela-four-contents h3 {
  margin-bottom: 5%;
  font-family: "Bungee", "cursive";
  font-size: 1.3rem;
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .article-escuela-four .escuela-four-container .escuela-four-contents h3 {
    /*Tablet*/
    margin-top: 3%;
    text-align: center;
  }
}
@media only screen and (max-width: 426px) {
  .article-escuela-four .escuela-four-container .escuela-four-contents h3 {
    /*Mobile*/
    margin: 3% 0 3% 0;
    text-align: center;
  }
}

/*Escuela--------------------------------------------------------------------*/
/*Tripulante--------------------------------------------------------------------*/
.header-tripulante {
  background-color: #505050;
  background-blend-mode: soft-light;
  background-image: url("../image/header/tripulante.png");
  background-size: cover;
  background-attachment: fixed;
  border-bottom: solid 10px transparent;
  border-image: linear-gradient(to right, #ffa500, #ffd900);
  border-image-slice: 1;
  box-shadow: 0 15px 25px #00000033;
}
@media only screen and (max-width: 425px) {
  .header-tripulante {
    background-attachment: unset;
  }
}
.header-tripulante section {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 13%;
  color: #e0e0e0;
  font-family: "Black Ops One", "cursive";
}

.main-tripulante {
  background-image: linear-gradient(to bottom, #ffffff, #e1e1e1, #c4c4c4);
  border-bottom: solid 5px transparent;
  border-image: linear-gradient(to right, #ffa500, #ffd900);
  border-image-slice: 1;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .main-tripulante {
    padding-left: 7%;
    padding-right: 1%;
  }
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .main-tripulante {
    /*Tablet*/
    padding: 0;
  }
}
@media only screen and (max-width: 426px) {
  .main-tripulante {
    /*Mobile*/
    padding: 0;
  }
}

.article-tripulante-one {
  text-align: center;
  padding-top: 4%;
}

.article-tripulante-two {
  padding: 2% 0;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .article-tripulante-two {
    /*Desktop*/
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .article-tripulante-two {
    /*Tablet*/
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 426px) {
  .article-tripulante-two {
    /*Mobile*/
    flex-wrap: wrap;
  }
}
.article-tripulante-two .tripulante-two-img {
  margin-right: 1%;
}
@media only screen and (max-width: 425px) {
  .article-tripulante-two .tripulante-two-img {
    margin-right: 0;
  }
}
.article-tripulante-two .tripulante-two-img img {
  width: 100%;
  height: 300px;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .article-tripulante-two .tripulante-two-text {
    /*Desktop*/
    margin-top: 3%;
  }
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .article-tripulante-two .tripulante-two-text {
    /*Tablet*/
    margin-top: 3%;
  }
}
.article-tripulante-two .tripulante-two-text div h2 {
  margin-bottom: 6%;
}
.article-tripulante-two .tripulante-two-text div div {
  display: flex;
  align-items: center;
  margin-bottom: 5%;
}
.article-tripulante-two .tripulante-two-text div div img {
  width: 20px;
  height: 15px;
  margin-right: 2%;
}
.article-tripulante-two .tripulante-two-text div div p {
  margin-bottom: 0;
}

.article-tripulante-three {
  padding: 3% 0;
}
.article-tripulante-three .tripulante-three-title {
  padding: 1%;
}
.article-tripulante-three .accordion .accordion-button:hover {
  background-image: linear-gradient(to right, #ffa500, #ffd900);
}
.article-tripulante-three .accordion .accordion-button:active {
  background-image: linear-gradient(to right, #ffa500, #ffd900);
  color: #000000 !important;
}
.article-tripulante-three .accordion .accordion-button:not(.collapsed) {
  background-image: linear-gradient(to right, #ffa500, #ffd900);
  color: #000000 !important;
}
.article-tripulante-three .accordion .accordion-body {
  color: #ffffff;
  background-color: #686868;
}

/*Tripulante--------------------------------------------------------------------*/
/*Piloto-----------------------------------------------------------------------------------------------------------*/
.header-piloto {
  background-color: #505050;
  background-blend-mode: soft-light;
  background-image: url("../image/header/piloto.png");
  background-size: cover;
  background-attachment: fixed;
  border-bottom: solid 10px transparent;
  border-image: linear-gradient(to right, #00ad00, #0000ff);
  border-image-slice: 1;
  box-shadow: 0 15px 25px #00000033;
}
@media only screen and (max-width: 425px) {
  .header-piloto {
    background-attachment: unset;
  }
}
.header-piloto section {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 13%;
  color: #e0e0e0;
  font-family: "Black Ops One", "cursive";
}

.main-piloto {
  border-bottom: solid 5px transparent;
  border-image: linear-gradient(to right, #00ad00, #0000ff);
  border-image-slice: 1;
}

/*article-piloto-ppl*/
.article-piloto-ppl-one {
  padding-bottom: 3%;
  background-image: linear-gradient(to bottom, #ffffff, #e1e1e1);
}
.article-piloto-ppl-one section {
  text-align: center;
}
.article-piloto-ppl-one section h2 {
  padding: 5% 2% 2% 2%;
  font-family: "Bungee", "cursive";
}
.article-piloto-ppl-one section div {
  margin: 0 10%;
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .article-piloto-ppl-one section div {
    /*Tablet*/
    margin: 0 1%;
    text-align: start;
  }
}
@media only screen and (max-width: 426px) {
  .article-piloto-ppl-one section div {
    /*Mobile*/
    margin: 0 1%;
    text-align: start;
  }
}

.article-piloto-ppl-two {
  background-image: linear-gradient(to bottom, #e1e1e1, #b4b4b4);
  padding: 2% 10%;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .article-piloto-ppl-two {
    /*Desktop*/
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .article-piloto-ppl-two {
    /*Tablet*/
    flex-wrap: wrap;
    padding: 2% 0;
  }
}
@media only screen and (max-width: 426px) {
  .article-piloto-ppl-two {
    /*Mobile*/
    flex-wrap: wrap;
    padding: 1% 0;
  }
}
.article-piloto-ppl-two .piloto-ppl-two-img {
  margin-right: 1%;
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .article-piloto-ppl-two .piloto-ppl-two-img img {
    /*Tablet*/
    width: 100%;
  }
}
@media only screen and (max-width: 426px) {
  .article-piloto-ppl-two .piloto-ppl-two-img img {
    /*Mobile*/
    width: 100%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .article-piloto-ppl-two .piloto-ppl-two-text {
    /*Desktop*/
    margin-top: 3%;
  }
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .article-piloto-ppl-two .piloto-ppl-two-text {
    /*Tablet*/
    margin-top: 3%;
  }
}
.article-piloto-ppl-two .piloto-ppl-two-text div h3 {
  margin-bottom: 5%;
}
.article-piloto-ppl-two .piloto-ppl-two-text div div {
  display: flex;
  align-items: center;
  margin-bottom: 5%;
}
.article-piloto-ppl-two .piloto-ppl-two-text div div img {
  width: 20px;
  height: 15px;
  margin-right: 2%;
}
.article-piloto-ppl-two .piloto-ppl-two-text div div p {
  margin-bottom: 0;
}

.article-piloto-ppl-three {
  background-image: linear-gradient(to bottom, #b4b4b4, #a5a5a5);
  padding: 3% 10%;
  display: flex;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .article-piloto-ppl-three {
    padding: 3% 1% 3% 7%;
  }
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .article-piloto-ppl-three {
    padding: 2%;
  }
}
@media only screen and (max-width: 425px) {
  .article-piloto-ppl-three {
    padding: 0;
  }
}
.article-piloto-ppl-three .accordion .accordion-button:hover {
  background-image: linear-gradient(to right, #00ad00, #0000ff) !important;
  color: #ffffff !important;
}
.article-piloto-ppl-three .accordion .accordion-button:active {
  background-image: linear-gradient(to right, #00ad00, #0000ff) !important;
  color: #ffffff;
}
.article-piloto-ppl-three .accordion .accordion-button:not(.collapsed) {
  background-image: linear-gradient(to right, #00ad00, #0000ff) !important;
  color: #ffffff !important;
}
.article-piloto-ppl-three .accordion .accordion-body {
  color: #ffffff;
  background-color: #686868;
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .article-piloto-ppl-three {
    /*Tablet*/
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 426px) {
  .article-piloto-ppl-three {
    /*Mobile*/
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
}
.article-piloto-ppl-three .piloto-ppl-three-text {
  order: 1;
  padding: 6% 0;
}
.article-piloto-ppl-three .piloto-ppl-three-text div {
  text-align: center;
}

/*article-piloto-cpl*/
.article-piloto-cpl-one {
  background-image: linear-gradient(to bottom, #ffffff, #e1e1e1);
  padding-bottom: 3%;
}
.article-piloto-cpl-one section {
  text-align: center;
}
.article-piloto-cpl-one section h2 {
  padding: 5% 2% 2% 2%;
  font-family: "Bungee", "cursive";
}
.article-piloto-cpl-one section div {
  margin: 0 10%;
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .article-piloto-cpl-one section div {
    /*Tablet*/
    margin: 0 1%;
    text-align: start;
  }
}
@media only screen and (max-width: 426px) {
  .article-piloto-cpl-one section div {
    /*Mobile*/
    margin: 0 1%;
    text-align: start;
  }
}

.article-piloto-cpl-two {
  background-image: linear-gradient(to bottom, #e1e1e1, #b4b4b4);
  padding: 2% 10%;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .article-piloto-cpl-two {
    /*Desktop*/
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .article-piloto-cpl-two {
    /*Tablet*/
    flex-wrap: wrap;
    flex-direction: column-reverse;
    padding: 2% 5%;
  }
}
@media only screen and (max-width: 426px) {
  .article-piloto-cpl-two {
    /*Mobile*/
    flex-wrap: wrap;
    flex-direction: column-reverse;
    padding: 1% 0;
  }
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .article-piloto-cpl-two .piloto-ppl-two-text {
    /*Desktop*/
    margin-top: 3%;
  }
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .article-piloto-cpl-two .piloto-ppl-two-text {
    /*Tablet*/
    margin-top: 3%;
  }
}
.article-piloto-cpl-two .piloto-ppl-two-text div h3 {
  margin-bottom: 5%;
}
.article-piloto-cpl-two .piloto-ppl-two-text div div {
  display: flex;
  align-items: center;
  margin-bottom: 5%;
}
.article-piloto-cpl-two .piloto-ppl-two-text div div img {
  width: 20px;
  height: 15px;
  margin-right: 2%;
}
.article-piloto-cpl-two .piloto-ppl-two-text div div p {
  margin-bottom: 0;
}
.article-piloto-cpl-two .piloto-ppl-two-img {
  margin-left: 3%;
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .article-piloto-cpl-two .piloto-ppl-two-img {
    /*Tablet*/
    margin-left: 0;
  }
  .article-piloto-cpl-two .piloto-ppl-two-img img {
    width: 100%;
  }
}
@media only screen and (max-width: 426px) {
  .article-piloto-cpl-two .piloto-ppl-two-img {
    /*Mobile*/
    margin-left: 0;
  }
  .article-piloto-cpl-two .piloto-ppl-two-img img {
    width: 100%;
  }
}

.article-piloto-cpl-three {
  background-image: linear-gradient(to bottom, #b4b4b4, #a5a5a5);
  padding: 3% 10%;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .article-piloto-cpl-three {
    padding: 3% 1% 3% 7%;
  }
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .article-piloto-cpl-three {
    padding: 2%;
  }
}
@media only screen and (max-width: 426px) {
  .article-piloto-cpl-three {
    padding: 0;
  }
}
.article-piloto-cpl-three .accordion .accordion-button:hover {
  background-image: linear-gradient(to right, #00ad00, #0000ff) !important;
  color: #ffffff !important;
}
.article-piloto-cpl-three .accordion .accordion-button:active {
  background-image: linear-gradient(to right, #00ad00, #0000ff) !important;
  color: #ffffff;
}
.article-piloto-cpl-three .accordion .accordion-button:not(.collapsed) {
  background-image: linear-gradient(to right, #00ad00, #0000ff) !important;
  color: #ffffff !important;
}
.article-piloto-cpl-three .accordion .accordion-body {
  color: #ffffff;
  background-color: #686868;
}
.article-piloto-cpl-three .piloto-cpl-three-title div h4 {
  text-align: center;
  margin-bottom: 3%;
}
.article-piloto-cpl-three .piloto-cpl-three-accordion div h4 {
  margin-bottom: 2%;
}

/*Piloto-----------------------------------------------------------------------------------------------------------*/
/*Contacto--------------------------------------------------------------*/
.header-contacto {
  background-color: #505050;
  background-blend-mode: soft-light;
  background-image: url("../image/header/contacto.png");
  background-size: cover;
  background-attachment: fixed;
  border-bottom: solid 10px transparent;
  border-image: linear-gradient(to right, #0000ff, #7a007a);
  border-image-slice: 1;
  box-shadow: 0 15px 25px #00000033;
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .header-contacto {
    background-attachment: unset;
  }
}
@media only screen and (max-width: 425px) {
  .header-contacto {
    background-attachment: unset;
  }
}
.header-contacto section {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 13%;
  color: #e0e0e0;
  font-family: "Black Ops One", "cursive";
}

.main-contacto {
  border-bottom: solid 5px transparent;
  border-image: linear-gradient(to right, #0000ff, #7a007a);
  border-image-slice: 1;
  background-image: linear-gradient(to bottom, #ffffff, #e1e1e1, #c4c4c4);
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .main-contacto {
    /*Desktop*/
    padding: 0;
  }
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .main-contacto {
    /*Tablet*/
    padding: 0;
  }
}
@media only screen and (max-width: 426px) {
  .main-contacto {
    /*Mobile*/
    padding: 0;
  }
}

.article-contacto-one {
  display: flex;
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .article-contacto-one {
    padding-left: 7%;
  }
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .article-contacto-one {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 425px) {
  .article-contacto-one {
    flex-wrap: wrap;
  }
}
.article-contacto-one section {
  width: 100%;
}
.article-contacto-one section iframe {
  width: 100%;
  height: 600px;
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .article-contacto-one section iframe {
    width: 100%;
    height: 250px;
  }
}
@media only screen and (max-width: 425px) {
  .article-contacto-one section iframe {
    width: 100%;
    height: 250px;
  }
}
.article-contacto-one section form {
  display: flex;
  flex-direction: column;
  padding: 2%;
  margin: 2%;
  background-color: #3d3d3d;
  color: #ffffff;
  border-radius: 3%;
}
.article-contacto-one section form .button {
  background-image: linear-gradient(to right, #0000ff, #7a007a);
  color: #ffffff;
  margin: 1% 35% 0;
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
  .article-contacto-two {
    /*Desktop*/
    padding: 0 1% 0 5%;
  }
}
.article-contacto-two section {
  margin: 2% 0;
}
.article-contacto-two section .row {
  --bs-gutter-x: 0;
}
.article-contacto-two section .row .col-4 {
  margin: 0.5% 0;
  padding: 0 1%;
}
.article-contacto-two section .row .col-4 .card {
  border-radius: 1.5rem;
  background-image: linear-gradient(to right, #0000ff, #7a007a);
  color: #ffffff;
}
.article-contacto-two section .row .col-4 .card a {
  background-color: #686868;
  border-color: #ffffff00;
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .article-contacto-two section .row .col-4 {
    /*Tablet*/
    width: 100%;
  }
}
@media only screen and (max-width: 426px) {
  .article-contacto-two section .row .col-4 {
    /*Mobile*/
    width: 100%;
  }
}

/*Contacto--------------------------------------------------------------*/

/*# sourceMappingURL=style.css.map */
