.article-piloto-ppl-three {
    background-image: linear-gradient(to bottom, #b4b4b4, #a5a5a5);
    padding: 3% 10%;
    display: flex;

    @media only screen and (min-width:769px) and (max-width:991px) {
        padding: 3% 1% 3% 7%;
    }

    .accordion {

        .accordion-button {

            &:hover {
                background-image: linear-gradient(to right, $bg-menu4, $bg-menu5) !important;
                color: #ffffff !important;
            }

            &:active {
                background-image: linear-gradient(to right, $bg-menu4, $bg-menu5) !important;
                color: #ffffff;
            }

            &:not(.collapsed) {
                background-image: linear-gradient(to right, $bg-menu4, $bg-menu5) !important;
                color: #ffffff !important;
            }
        }

        .accordion-body {
            color: #ffffff;
            background-color: #686868;
        }
    }
    
    @media only screen and (min-width:426px) and (max-width:768px) { /*Tablet*/
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    @media only screen and (max-width:426px) { /*Mobile*/
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .piloto-ppl-three-text {
        order: 1;
        padding: 6% 0;
        
        div {
            text-align: center;
        }
    }
}