.article-piloto-cpl-two {
    background-image: linear-gradient(to bottom, #e1e1e1, #b4b4b4);
    padding: 2% 10%;
    @extend %flex;

    @media only screen and (min-width:769px) and (max-width:991px) { /*Desktop*/
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    @media only screen and (min-width:426px) and (max-width:768px) { /*Tablet*/
        flex-wrap: wrap;
        flex-direction: column-reverse;
        padding: 2% 5%;
    }

    @media only screen and (max-width:426px) { /*Mobile*/
        flex-wrap: wrap;
        flex-direction: column-reverse;
        padding: 1% 0;
    }

    .piloto-ppl-two-text {

        @media only screen and (min-width:769px) and (max-width:991px) { /*Desktop*/
            margin-top: 3%;
        }

        @media only screen and (min-width:426px) and (max-width:768px) { /*Tablet*/
            margin-top: 3%;
        }

        div {

            h3 {
                margin-bottom: 5%;
            }
        }

        div {
            
            div {
                display: flex;
                align-items: center;
                margin-bottom: 5%;

                img {
                    width: 20px;
                    height: 15px;
                    margin-right: 2%;
                }

                p {
                    margin-bottom: 0;
                }
            }
        }
    }

    .piloto-ppl-two-img {
        margin-left: 3%;

        @media only screen and (min-width:426px) and (max-width:768px) { /*Tablet*/
            margin-left: 0;

            img {
                width: 100%;
            }
        }

        @media only screen and (max-width:426px) { /*Mobile*/
            margin-left: 0;

            img {
                width: 100%;
            }
        }
    }
}