.article-contacto-two {
    overflow: hidden;

    @media only screen and (min-width:769px) and (max-width:991px) { /*Desktop*/
        padding: 0 1% 0 5%;
    }

    section {

        margin: 2% 0;

            .row {
            --bs-gutter-x: 0;

                .col-4 {
                    margin: 0.5% 0;
                    padding: 0 1%;

                    .card {
                        border-radius: 1.5rem;
                        background-image: linear-gradient(to right, $bg-menu5, $bg-menu6);
                        color: #ffffff;
                        animation: flipInX;
                        animation-duration: 3s;

                        @media only screen and (min-width:426px) and (max-width:768px) {
                            animation-duration: 2s;
                        }

                        @media only screen and (max-width:426px) {
                            animation-duration: 2s;
                        }

                        a {
                            background-color: #686868;
                            border-color: #ffffff00;

                            &:hover {
                                background-color: #7e7e7e;
                            }
                        }
                    }

                    @media only screen and (min-width:426px) and (max-width:768px) { /*Tablet*/
                        width: 100%;
                    }

                    @media only screen and (max-width:426px) { /*Mobile*/
                        width: 100%;
                    }
                }
        }
    }
}