.article-contacto-two {

    @media only screen and (min-width:769px) and (max-width:991px) { /*Desktop*/
        padding: 0 1%;
    }

    section {

        margin: 2% 0;

        .col-4 {

            .card {
                border-radius: 1.5rem;
            }

            @media only screen and (min-width:426px) and (max-width:768px) { /*Tablet*/
                width: 100%;
            }

            @media only screen and (max-width:426px) { /*Mobile*/
                width: 100%;
            }
        }
    }
}