.header-contacto {
    background-color: #505050;
    background-blend-mode: soft-light;
    background-image: url("../image/header/contacto.png");
    background-size: cover;
    background-attachment: fixed;
    border-bottom: solid 10px transparent;
    border-image: linear-gradient(to right, $bg-menu5, $bg-menu6);
    border-image-slice: 1;
    box-shadow: 0 15px 25px #00000033;

    @media only screen and (max-width:425px) {
        background-attachment: unset;
    }

    section {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        margin-top: 13%;
        color: #e0e0e0;
        font-family: $primary-title;
    }
}