.header-escuela {

    .navbar-light .navbar-toggler {
        background-color: #ee5300;
        margin-bottom: 5px;
    }
}

.header-tripulante {

    .navbar-light .navbar-toggler {
        background-color: #ffbf00;
        margin-bottom: 5px;
    }
}

.header-index {

    .navbar-light .navbar-toggler {
        background-color: #7fc300;
        margin-bottom: 5px;
    }
}

.header-piloto {

    .navbar-light .navbar-toggler {
        background-color: #005780;
        margin-bottom: 5px;
    }
}

.header-contacto {

    .navbar-light .navbar-toggler {
        background-color: #3e01bd;
        margin-bottom: 5px;
    }
}