@import "navbar-bg"; /*bg-color del menú hamburguesa*/

.navbar {
    display: none;
    background-color: $bg-menu;

    .navbar-brand {
        padding-top: 0;

        img {
            width: auto;
            height: 40px;
        }
    }

    .navBar-bg-escuela {
        background-image: linear-gradient(to right, $bg-menu1, $bg-menu2);

        .nav-item {
            color: #000000;
            
            .nav-link {
                color: #000000;
            }
        }
    }

    .navBar-bg-tripulante {
        background-image: linear-gradient(to right, $bg-menu2, $bg-menu3);

        .nav-item {
            color: #000000;
            
            .nav-link {
                color: #000000;
            }
        }
    }

    .navBar-bg-index {
        background-image: linear-gradient(to right, $bg-menu3, $bg-menu4);

        .nav-item {
            color: #000000;
            
            .nav-link {
                color: #000000;
            }
        }
    }

    .navBar-bg-piloto {
        background-image: linear-gradient(to right, $bg-menu4, $bg-menu5);

        .nav-item {
            color: #ffffff;
            
            .nav-link {
                color: #ffffff;
            }
        }
    }
    
    .navBar-bg-contacto {
        background-image: linear-gradient(to right, $bg-menu5, $bg-menu6);

        .nav-item {
            color: #ffffff;
            
            .nav-link {
                color: #ffffff;
            }
        }
    }

    @media only screen and (min-width:426px) and (max-width:768px) {
        display: flex;
        width: auto;
        margin: 20px auto 0;
    }

    @media only screen and (max-width:426px) {
        display: flex;
        width: auto;
        margin: 20px auto 0;
    }
}

