/*Button landing page---------------------------------------------------------------------------*/
.button-landingPage {
    display: none;

    @media only screen and (min-width:426px) and (max-width:768px) { /*Tablet*/
        display: block;
        position: fixed;
        bottom: 65px;
        right: 5px;
        padding: 8px 12px;
        border-radius: 30%;
        font-family: none;
        line-height: normal;

        .black-button {color: #000000;}

        .white-button {color: #ffffff;}

        a {
            text-decoration: none;
            font-size: 25px;
        }
    }

    @media only screen and (max-width:426px) { /*Mobile*/
        display: block;
        position: fixed;
        bottom: 75px;
        right: 5px;
        padding: 8px 12px;
        border-radius: 30%;
        font-family: none;
        line-height: normal;

        .black-button {color: #000000;}

        .white-button {color: #ffffff;}

        a {
            text-decoration: none;
            font-size: 25px;
        }
    }
}

.escuela {
    background-image: linear-gradient(to right, $bg-menu1, $bg-menu2);
}

.tripulante {
    background-image: linear-gradient(to right, $bg-menu2, $bg-menu3);
}

.index {
    background-image: linear-gradient(to right, $bg-menu3, $bg-menu4);
}

.piloto {
    color: white;
    background-image: linear-gradient(to right, $bg-menu4, $bg-menu5);
}

.contacto {
    background-image: linear-gradient(to right, $bg-menu5, $bg-menu6);
}
/*Button landing page---------------------------------------------------------------------------*/