/*Colors*/
$bg-menu: #2c2c2c;
$bg-submenu-hover: #3d3d3d;
$bg-menu1: #dd0000;
$bg-menu2: #ffa500;
$bg-menu3: #ffd900;
$bg-menu4: #00ad00;
$bg-menu5: #0000ff;
$bg-menu6: #7a007a;
$bg-footer: #d4d4d8;

/*Fonts*/
$airschool: 'Tourney', "cursive";
$primary-title: 'Black Ops One', "cursive";
$secondary-title: 'Bungee', "cursive";

/*Operators*/
$width: 100%;

